.todo-list {
  align-items: start;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  width: 100%;
}

@media (max-width: 1280px) {
  .todo-list {
    grid-template-columns: repeat(3, max-content);
  }
}

@media (max-width: 736px) {
  .todo-list {
    grid-template-columns: repeat(2, max-content);
  }
}

@media (max-width: 460px) {
  .todo-list {
    grid-template-columns: repeat(1, 100%);
  }
}
